<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--
Valid browser name = chrome , firefox
-->
<suite name="Sample Store" parallel="false">
	<parameter name="browser" value="chrome"></parameter>
	<test name="Google">
		<classes>
			<class name="com.afour.webui.tests.applications.google.GoogleSearchTests"></class>
		</classes>
	</test>
	<test name="FlightRadar">
		<classes>
			<class name="com.afour.webui.tests.applications.flightradar.FlightRadarTests"></class>
		</classes>
	</test>
</suite>
